{% extends "base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Password Changed Successfully" %}{% endblock head_title %}

{% block content %}
    <h1>{% trans "Password Changed Successfully" %}</h1>
    <p>{% trans 'Your password has been updated successfully.' %}</p>
    <p>{% trans "You can now return to your account page to continue managing your profile or bookings." %}</p>

    <a href="{% url 'profile' %}" class="btn btn-primary">
        {% trans "Go to My Account" %}
    </a>    
{% endblock content %}
