{% extends 'base.html' %}

{% block title %}Reservation{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Create a Reservation</h2>
        
        {% if user_type == 'staff' %}
            <h4>You are logged in as a staff member. You can make reservations for any boat.</h4>
        {% else %}
            <h4>You are logged in as a guest. You can make reservations for yourself.</h4>
        {% endif %}
        
        <form method="POST" action="{% url 'reservations:reservation_create' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Confirm Reservation</button>
        </form>

        <div class="mt-3">
            <a href="{% url 'reservations:reservations_list' %}" class="btn btn-secondary">Or go to the reservation dashboard</a>
        </div>
    </div>
{% endblock %}