{% extends "base.html" %}

{% block title %}Reservation Selection{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Select Reservation Type</h1>
    <p>Choose whether you are a customer or staff to proceed with your reservation.</p>
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'dashboard' %}" class="btn btn-primary me-3">Customer Login</a>
            <a href="{% url 'account_login' %}?next={% url 'staff_dashboard' %}" class="btn btn-secondary">Staff Login</a>
        </div>
    </div>
</div>
{% endblock %}


