{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Sawadee Dining Boat offers an unforgettable experience with authentic Thai cuisine served on a beautiful boat. Enjoy panoramic views while savoring delicious dishes, perfect for any occasion." />
    <meta
      name="keywords"
      content="Sawadee Dining Boat, Thai restaurant, Thai food, boat dining, Thai boat restaurant, boat experience, Thai cuisine, private boat dining" />
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}Sawadee Dining Boat{% endblock %}</title>
</head>
<body class="d-flex flex-column">
    <header>
        {% block header %}
        <nav class="navbar navbar-expand-lg" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" id="navbar-brand">Sawadee Dining Boat</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/" id="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}" id="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu/" id="nav-link">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reservation/" id="nav-link">Reservation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center py-3 mt-auto" id="footer">
        {% block footer %}
        <p>&copy; 2025 Sawadee Dining Boat</p>
        {% block copyright %}
        <p>All rights reserved.</p>
        {% endblock %}
        {% endblock %}
    </footer>
    
    <!-- Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>