{% load static %}

<nav class="navbar navbar-expand-lg py-3" id="navbar">
  <div class="container-fluid d-flex flex-column">

    <!-- Contact Info Section (Appears Above Navbar) -->
    <div class="navbar-contact d-flex justify-content-between w-100 px-3">
        <span class="contact-left">
            <img src="{% static 'images/favicon_pushpin_ico/favicon-16x16.png' %}" 
                 alt="Address Icon" width="16" height="16">
            123 Riverfront Rd, Bangkok, Thailand
        </span>
        <span class="contact-right">
            <img src="{% static 'images/favicon_phone_ico/favicon-16x16.png' %}" 
                 alt="Phone Icon" width="16" height="16">
            +66 123 456 789
        </span>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'menu' %}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'set_sail' %}">Set Sail With Us</a>
          </li>
        </ul>
      </div>

      <!-- Center: Logo -->
      <div class="navbar-center">
        <a class="navbar-brand mx-auto" href="{% url 'home' %}">
          <img src="{% static 'images/favicon_ico/android-chrome-192x192.png' %}"
               alt="Logo" width="64" height="64">
        </a>
      </div>

      <!-- Right Side: User Actions -->
      <div class="navbar-right ms-auto">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservations:reservations_list' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary text-white" 
               href="{% url 'reservations:reservation_create' %}">
              Create a Reservation
            </a>
          </li>

        {% if user.is_authenticated %}
        <!-- Display Log Out if the user is authenticated -->
          <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}" id="nav-link"
            >Log Out</a
          >
          </li>
          {% else %}
        <!-- Display Log In/Create Account if the user is not authenticated -->
          <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}" id="nav-link"
            >Log In/Create Account</a
          >
          </li>
          {% endif %}
        </ul>
    </div>
  </div>
</nav>
